---
title: Blog
---



<ul class="list-group">
{{#each pages}}
  {{#is data.layout 'post'}}
  <li class="list-group-item"> <a href="blog/{{this.filename}}">{{data.title}}</a> </li>
  {{/is}}
{{/each}}
</ul>